.input-box{
    align-items: center;
    display: flex;
    @media(max-width: 768px) and (max-height:1000px) {
        top: 14%;
    }

    input{
        margin-left: 15px;
        font-size: 16px;
        border-radius: 20px;
        height: 50px;
        width: 100%;
        padding: 4px 10px;
        border: 1px solid #ccc;
    }
    .btn-add{

        margin-left: 10px;
        padding: 10px 20px;
        font-weight: 600;
        cursor: pointer;
        border: 0;
        display: inline-block;
        text-decoration: none;
        color: white;
        border-radius: 10px;
        font-family: 'Montserrat', sans-serif; 
        font-size: 16px !important;
        letter-spacing: 2px;
        background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
        background-size: 200% auto;
        box-shadow: 0 0 20px rgba(0, 0, 0, .1);
        transition: .5s;
        &:hover{
            background-position: right center;
        }
        @media(max-width: 380px) {
            padding: 7px 12px;
            letter-spacing: 1px;
        }

    }
}


.links-table {
    margin-top: 2rem;
}

.short-link {
    display: flex;
    justify-content: center;
    margin-top: 1rem;

    &__clipboard {
        color: cornflowerblue;
        cursor: pointer;
    }
}

.error {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    color: red;
}

.err404{
    display: block;
    margin: 0px auto;
    @media (max-width:920px) {
        width: 300px;
    }
    @media (max-width:500px) {
        width: 200px;
    }
}
