@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600&display=swap');

html{
    font-family: 'Poppins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

.App{
    height: 100vh;
    background-image: url('./assets/img/bg-01.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
